.my-Form{
    background-color:red;
    align-content: center;
    padding-right: row;
    font-style: normal;
    font-size: large;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    

}
