.my-table{
text-align: center;
background-color: aqua;
padding-left: 500px;
padding-right: 300px;
border-left: brown;
}
.my-n{
    padding-right: 500px;
}
.my-h{
    background-color: rgb(165, 42, 134);
}
.my-heding{
    background-color: chartreuse;
}