/* .main-navbar{
    margin: 0 !important;
    display: flex;
    
}
.nav-links{
  display: flex;
  margin-left: 60rem;

}
.nav-logo{
    height: 50px;
    width: 50px;
} */

.main-carsoul{
    height: 80vh !important;
    align-content: center;
}
.my-app{
    align-content: center;
    height: 50px;
    padding-left: 100px;
    
}