.my-table{
text-align: center;
background-color: aqua;
padding-left: 500px;
padding-right: 300px;
border-left: rgb(42, 165, 48);
}
.my-n{
    padding-right: 500px;
}
.my-h{
    background-color: red
}
.my-heding{
    background-color: chartreuse;
}