.my-Carousel{
    align-content: center;
    width: 80px;
    height: 120x;
}
.my-name{
    align-content: center;
    height: 400px;
    width: 500px;
    padding-top: 60px;
    line-height:200 ;
}

